#Kenya{
    text-align: center;
    border: 20px solid grey;
    background:darkseagreen;
    color: black;
    padding: 30px;
    margin: 20px;
}
#Nigeria{
    text-align:center;
    border:20px solid grey;
    background: darkseagreen;
    color: black;
    padding: 30px;
    margin: 20px;
}
#South\ Africa{
    text-align: center;
    border: 20px solid cornflowerblue;
    background: beige;
    color: black;
    padding: 30px;
    margin: 20px;
}